@model IEnumerable<DataLayer.Entities.Pet>


<div class="my-4">


    <label for="ChipNumber">
        Cerca numero Microchip:
        <input class="form-control my-2" name="ChipNumber" type="number" min="0" id="chip" onchange="cerca(this.value)" />
    </label>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FurColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MicrochipNumber)
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </tbody>

</table>


@section Scripts {

    <script src="~/js/cercaAsync.js"></script>
}